<div class="variant-picker__option-values h-stack gap-2.5 wrap">
  {% assign color_option_index = 0 %}
  {% for option in product.options_with_values %}
    {% if option.name == 'Color' or option.name == 'colour' %}
      {% assign color_option_index = forloop.index0 %}
    {% endif %}
  {% endfor %}

  {% assign processed_colors = '' %}
  {% for variant in product.variants %}
    {% assign color = variant.options[color_option_index] %}
    {% unless processed_colors contains color %}
      {% assign css_color = '' %}
      
      {%- comment -%} Map color name to CSS hex (English name works in CSS) {%- endcomment -%}
      {% case color | downcase %}
        {% when 'red' %}{% assign css_color = '#ff0000' %}
        {% when 'blue' %}{% assign css_color = '#0000ff' %}
        {% when 'black' %}{% assign css_color = '#000000' %}
        {% when 'brown' %}{% assign css_color = '#8b4513' %}
        {% else %}{% assign css_color = color | downcase %}
      {% endcase %}

      <div 
        class="color-swatch {% unless variant.available %}sold-out{% endunless %}" 
        style="background-color: {{ css_color }};" 
        data-variant-id="{{ variant.id }}" 
        data-variant-image="{{ variant.image.src | img_url: 'master' }}" 
        data-product-id="{{ product.id }}" 
        onclick="switchVariantImage(this)">
      </div>

      {% assign processed_colors = processed_colors | append: color | append: ',' %}
    {% endunless %}
  {% endfor %}
</div>

<style>
.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.2s ease;
}
.color-swatch:hover {
  transform: scale(1.1);
}
.color-swatch.selected {
  border: 2px solid black;
}
.color-swatch.sold-out::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background: white;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: center;
}
</style>
